<%#----------ユーザー登録後モーダル表示ここから----------%>
<% if flash[:modal_open] %>
  <div id="con" class="modal-content">
      <p class="modal-title">ユーザー登録が完了しました</p>
      <div id="modal-content-content">
        <p class="row">まずはプロフィールを設定しましょう。
        プロフィールにはサイト上で表示するニックネームやプロフィール画像、自己紹介文などが設定できます。</p>
        <div class="modal-close"><i class="fas fa-times"></i></div>
        <%= link_to edit_user_path(@user) do %>
          <div class="profile_button">
            <div class="profile_button_content">
              <i class="fas fa-cog"></i><p>プロフィール設定</p>
            </div>
          </div>
        <% end %>
      </div>
  </div>
  <script>
  modalopen('con');
  </script>
<% end %>
<%#----------ここまでユーザー登録後モーダル表示----------%>

<div class="row"></div>
  <%= render 'layouts/flash_messages' %>
<div class="row"></div>

<%= render 'users/card', user: @user %>

<% @user.games.each do |game| %>
  <div id="user_show_games_area">
    <div id="user_show_games_tab_area">
      <div class="tab" id="tab_active">
        <p>登録ゲーム</p>
      </div>
      <a href=<%= myreviews_user_path(@user) %> id="tab_link">
        <div class="tab" id="tab_inactive">
          <p>投稿した感想</p>
        </div>
      </a>
    </div>
  </div>
<% end %>