@charset "UTF-8";
/* game/:id/show */
/*緊急の措置*/
#game_show_content img {
  width: 200px;
  height: 200px;
  object-fit: cover; }

#game_show h2 {
  position: relative;
  background-color: #ff1493;
  color: #fff;
  padding: 2px 20px;
  display: inline-block;
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.4em; }

#game_show h2:after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 10px 10px;
  bottom: -20px;
  border-top-color: #ff1493; }

#game_show {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box; }

#game_show_left {
  width: 240px;
  box-sizing: border-box; }

#game_show_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 685px;
  box-sizing: inherit; }

.game_show_creator {
  width: 240px;
  padding: 20px 20px 0 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  box-sizing: border-box; }
  .game_show_creator .game_show_creator_inner {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .game_show_creator .game_show_creator_inner .game_show_profile_image {
      width: 200px;
      height: 200px;
      margin-bottom: 6px;
      object-fit: cover; }
    .game_show_creator .game_show_creator_inner .creator_introduction {
      width: 200px;
      border: 1px solid #e6e6e6;
      margin-bottom: 32px;
      border-radius: 2px; }
      .game_show_creator .game_show_creator_inner .creator_introduction pre {
        font-size: 12px;
        color: #737373;
        padding: 5px; }
    .game_show_creator .game_show_creator_inner .creator_nickname {
      margin-bottom: 8px; }
      .game_show_creator .game_show_creator_inner .creator_nickname a {
        font-size: 16px;
        font-weight: bold;
        color: #3c3c3c; }
      .game_show_creator .game_show_creator_inner .creator_nickname i {
        font-size: 20px;
        color: #55acee; }
    .game_show_creator .game_show_creator_inner .creator_games {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #e6e6e6;
      margin-bottom: 32px; }
      .game_show_creator .game_show_creator_inner .creator_games img {
        background: #fff;
        width: 196px;
        height: calc(196px * 0.765);
        object-fit: cover; }
      .game_show_creator .game_show_creator_inner .creator_games .creator_games_inner {
        display: inline-block;
        background: #fff;
        border-left: 6px solid #ff1493;
        padding: 5px 0px 5px 10px; }
        .game_show_creator .game_show_creator_inner .creator_games .creator_games_inner p {
          font-weight: bold;
          background: #fff; }
  .game_show_creator .heading {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 0 6px 14px;
    border-left: 10px solid #ff1493;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 32px;
    box-sizing: border-box; }
    .game_show_creator .heading i {
      margin-right: 4px;
      font-size: 28px; }
  .game_show_creator h3 {
    color: #3c3c3c;
    font-size: 24px; }

.game_show_content {
  width: 670px;
  box-sizing: border-box; }
  .game_show_content_header {
    display: flex;
    justify-content: space-between;
    width: 670px;
    box-sizing: inherit; }
    .game_show_content_header_left {
      box-sizing: inherit; }
    .game_show_content_header_right {
      box-sizing: inherit; }

.game_show_content_header_left {
  width: 520px; }
  .game_show_content_header_left_title {
    padding: 10px 0 10px 20px;
    margin-bottom: 10px;
    border-left: 20px solid #ff1493;
    border-bottom: 1px solid #e6e6e6; }
    .game_show_content_header_left_title h1 {
      line-height: 1em; }
  .game_show_content_header_left_gameinfo {
    display: flex;
    justify-content: space-between; }
    .game_show_content_header_left_gameinfo_e1 {
      display: flex;
      width: 100%; }
    .game_show_content_header_left_gameinfo_e2 {
      display: flex;
      justify-content: center;
      width: 100%; }
    .game_show_content_header_left_gameinfo_e3 {
      display: flex;
      justify-content: flex-end;
      width: 100%; }

.game_show_content_header_right ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-between; }
.game_show_content_header_right a:link {
  color: #03c;
  text-decoration: underline; }
.game_show_content_header_right a:visited {
  color: #03c;
  text-decoration: underline; }
.game_show_content_header_right_badge_title {
  display: flex;
  align-items: center; }
.game_show_content_header_right .pointer_events_none {
  pointer-events: none; }
  .game_show_content_header_right .pointer_events_none:link {
    color: #3c3c3c;
    text-decoration: none; }
  .game_show_content_header_right .pointer_events_none:visited {
    color: #3c3c3c;
    text-decoration: none; }

.game_show_content_modal_box {
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999; }

.game_show_content_modal_bg {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%; }

.game_show_content_modal_close {
  cursor: pointer; }

.game_show_content_modal_inner {
  display: block;
  background-color: #fff;
  left: 40%;
  padding: 10px;
  position: absolute;
  top: 10%;
  width: 500px; }
  .game_show_content_modal_inner_col1 {
    display: flex;
    justify-content: space-between; }
  .game_show_content_modal_inner_col2 {
    display: flex;
    flex-wrap: wrap; }
    .game_show_content_modal_inner_col2 .sender_element {
      position: relative; }
      .game_show_content_modal_inner_col2 .sender_element:hover p {
        top: 0;
        opacity: 1; }
    .game_show_content_modal_inner_col2 p {
      position: absolute;
      top: 100vh;
      background: #fafafa;
      opacity: 0; }
    .game_show_content_modal_inner_col2 img {
      width: 48px;
      height: 48px;
      border: 1px solid #ddd;
      border-radius: 50%;
      box-sizing: border-box; }

.game_show_content_url {
  display: flex;
  align-items: center; }
  .game_show_content_url p {
    font-size: 14px;
    width: 520px;
    color: #737373;
    border: 1px solid #8c8c8c;
    box-shadow: 1px 1px 2px inset;
    padding: 10px;
    white-space: nowrap;
    box-sizing: border-box; }

#game_show_content_playbtn {
  display: block;
  position: relative;
  width: 150px;
  margin: 8px;
  padding: 8px 16px;
  font-size: 20px;
  color: #3F3F3F;
  text-shadow: 0 0 2px #930;
  text-align: center;
  white-space: nowrap;
  border-radius: 8px;
  border: 2px solid;
  border-color: #F90 #C70 #950;
  background-color: #FC0;
  background-image: -webkit-linear-gradient(#FC0, #F80);
  background-image: linear-gradient(#FC0, #F80);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  text-decoration: none;
  box-sizing: border-box; }
  #game_show_content_playbtn::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: solid 1px #fe8;
    border-radius: 8px; }

.swiper-container {
  width: 670px;
  height: calc(670px * 0.765); }
  .swiper-container * {
    box-sizing: border-box; }

.swiper-wrapper {
  font-size: 0;
  line-height: 0; }

.swiper-slide {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #eee; }

.swiper-pagination-thumb {
  width: 130px;
  height: calc(130px * 0.765);
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #eee;
  margin: 5px 0 0 5px;
  cursor: pointer;
  box-sizing: border-box; }
  .swiper-pagination-thumb:first-child {
    background-size: cover;
    margin-left: 0; }

.game_show_content_updates {
  display: flex; }

#game_show_stamp_area {
  width: 670px;
  box-sizing: inherit;
  margin-bottom: 10px; }

#game_show_post_area {
  width: 670px;
  box-sizing: inherit; }

.game_show_reviewcount_label {
  text-align: right; }

#game_show_stamp_area_stamps {
  display: flex;
  width: 670px;
  justify-content: space-between;
  box-sizing: inherit; }

.game_show_area_need_login {
  display: flex;
  width: 670px;
  flex-direction: column;
  box-sizing: inherit; }
  .game_show_area_need_login a:link {
    color: #03c; }
  .game_show_area_need_login a:visited {
    color: #03c; }

#review_list {
  display: flex;
  width: 670px;
  padding: 10px 0 0;
  -webkit-justify-content: center;
  justify-content: center;
  border-top: 1px solid #e6ecf0;
  box-sizing: border-box; }

#game_show_stamp_area_stamps .game_show_stamp_part {
  background-color: #bbb;
  filter: grayscale(100%);
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  box-shadow: 0 0 4px black;
  box-sizing: inherit;
  transform-origin: 50% 50%; }

.game_show_stamp_part p {
  position: relative;
  top: -25px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px -1px 0 #FFF, 0px 1px 0 #FFF, -1px 0 #FFF, -1px 0 0 #FFF, 1px 0 0 #FFF; }

#game_show_stamp_area_stamps #part1 {
  background-image: url("/assets/story.png");
  background-size: contain; }

#game_show_stamp_area_stamps #part1_true {
  filter: grayscale(0);
  background-image: url("/assets/story");
  background-size: contain; }

#game_show_stamp_area_stamps #part2 {
  background-image: url("/assets/game_system.png");
  background-size: contain; }

#game_show_stamp_area_stamps #part2_true {
  filter: grayscale(0);
  background-image: url("/assets/game_system.png");
  background-size: contain; }

#game_show_stamp_area_stamps #part3 {
  background-image: url("/assets/graphic.png");
  background-size: contain; }

#game_show_stamp_area_stamps #part3_true {
  filter: grayscale(0);
  background-image: url("/assets/graphic.png");
  background-size: contain; }

#game_show_stamp_area_stamps #part4 {
  background-image: url("/assets/character.png");
  background-size: contain; }

#game_show_stamp_area_stamps #part4_true {
  filter: grayscale(0);
  background-image: url("/assets/character.png");
  background-size: contain; }

#game_show_stamp_area_stamps #part5 {
  background-image: url("/assets/worldview.png");
  background-size: contain; }

#game_show_stamp_area_stamps #part5_true {
  filter: grayscale(0);
  background-image: url("/assets/worldview.png");
  background-size: contain; }

#game_show_stamp_area_stamps #part1:hover {
  filter: grayscale(0);
  transform: scale(1.15, 1.15);
  transition-duration: 0.2s; }

#game_show_stamp_area_stamps #part1_true:hover {
  filter: grayscale(0);
  transform: scale(1.15, 1.15);
  transition-duration: 0.2s; }

#game_show_stamp_area_stamps #part2:hover {
  filter: grayscale(0);
  transform: scale(1.15, 1.15);
  transition-duration: 0.2s; }

#game_show_stamp_area_stamps #part2_true:hover {
  filter: grayscale(0);
  transform: scale(1.15, 1.15);
  transition-duration: 0.2s; }

#game_show_stamp_area_stamps #part3:hover {
  filter: grayscale(0);
  transform: scale(1.15, 1.15);
  transition-duration: 0.2s; }

#game_show_stamp_area_stamps #part3_true:hover {
  filter: grayscale(0);
  transform: scale(1.15, 1.15);
  transition-duration: 0.2s; }

#game_show_stamp_area_stamps #part4:hover {
  filter: grayscale(0);
  transform: scale(1.15, 1.15);
  transition-duration: 0.2s; }

#game_show_stamp_area_stamps #part4_true:hover {
  filter: grayscale(0);
  transform: scale(1.15, 1.15);
  transition-duration: 0.2s; }

#game_show_stamp_area_stamps #part5:hover {
  filter: grayscale(0);
  transform: scale(1.15, 1.15);
  transition-duration: 0.2s; }

#game_show_stamp_area_stamps #part5_true:hover {
  filter: grayscale(0);
  transform: scale(1.15, 1.15);
  transition-duration: 0.2s; }

/*コメント投稿エリア*/
#game_show_post_area_post {
  padding-left: 10px; }
  #game_show_post_area_post .game_show_post_area_left {
    float: left;
    margin-right: 10px; }
  #game_show_post_area_post .game_show_post_area_right {
    float: right;
    width: 590px; }

.game_show_post_area_left img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover; }

.game_show_post_area_right .row-1 {
  font-weight: bold;
  margin-bottom: 4px; }
.game_show_post_area_right .row-2 textarea {
  width: 100%;
  height: calc( 1.3em * 10 + 1em);
  line-height: 1.3;
  box-sizing: border-box; }
.game_show_post_area_right .row-3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 16px; }
  .game_show_post_area_right .row-3 input {
    margin-right: 2px; }
  .game_show_post_area_right .row-3 p {
    margin-right: 8px; }

/*感想表示エリア*/
.review_list_left {
  margin-right: 10px; }

.review_list_left img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover; }

.review_list_right {
  display: flex;
  flex-direction: column;
  width: 590px;
  box-sizing: inherit; }

.review_list_right_top {
  display: flex;
  justify-content: space-between; }

.review_list_right_top_nickname {
  font-weight: bold; }

.review_list_right_middle .spoiler {
  font-size: 15px;
  color: #d94c4c; }

.review_list_right_middle button {
  background-color: transparent;
  width: 16px;
  height: 16px;
  font-size: 13px;
  border: none;
  border-radius: 2px;
  color: white;
  background: #14171a;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none; }

.review_list_right_bottom {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  height: 40px;
  line-height: 40px; }

.review_list_right_bottom i {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: 5px;
  cursor: pointer;
  font-size: 20px;
  color: #8e8e8e;
  border-radius: 4px;
  transform-origin: 50% 50%; }

.review_list_right_bottom i:hover {
  color: #fff;
  background: #14171a;
  transform: scale(1.4, 1.4);
  transition-duration: 0.3s; }

.review_list_right_bottom p {
  verical-align: middle;
  margin-right: 1px; }

.review_list_right_bottom button {
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.review_list_right_bottom .fa-heart {
  margin-right: 0px; }

.review_list_right_bottom .fa-heart-on {
  color: #f92711; }

.review_list_right_bottom .fa-heart-off {
  color: #8e8e8e; }

.edited::after {
  color: #999;
  margin-left: 1em;
  content: '(編集済み)'; }

/* game/:id/edit */
.game_edit_title {
  display: flex;
  align-items: center;
  width: 960px;
  box-sizing: border-box; }
  .game_edit_title .fa-cog {
    margin-right: 6px;
    font-size: 2rem;
    color: #046eb8; }
  .game_edit_title h2 {
    color: #3c3c3c; }

.game_edit_main {
  padding-top: 24px;
  width: 50%; }
  .game_edit_main label {
    color: #3c3c3c; }
  .game_edit_main h4 {
    color: #3c3c3c; }
  .game_edit_main p {
    color: #555; }
  .game_edit_main .game_edit_url {
    font-size: 11px; }

.game_edit_input_title {
  width: 100%; }
.game_edit_input_url {
  width: 100%; }
.game_edit_input_genre {
  width: 50%; }
.game_edit_input_information {
  width: 100%;
  height: 11.5em; }
.game_edit_input_play_time {
  width: 50%; }
.game_edit_input_update {
  width: 100%; }

.upload_game_img_area {
  position: relative;
  width: 200px;
  height: calc(200px * 0.765);
  text-align: center;
  box-sizing: border-box; }

.upload_game_img_area .upload_icon {
  position: absolute;
  top: -webkit-calc(100% - 40px);
  top: calc(100% - 40px);
  left: -webkit-calc(100% - 40px);
  left: calc(100% - 40px);
  padding: 5px;
  width: 22px;
  height: 22px;
  font-size: 22px;
  color: #fff;
  background: #c8c8c0;
  border-radius: 50%;
  opacity: 0.9;
  z-index: 2;
  cursor: pointer; }

.img_field {
  position: absolute;
  width: 200px;
  height: calc(200px * 0.765);
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  box-sizing: inherit;
  z-index: 1; }

.img_field .game_img_blank {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 200px;
  height: calc(200px * 0.765);
  font-size: 16px;
  color: #c8c8c0;
  background: #f8f8f8;
  border: 2px dashed #c8c8c0;
  border-radius: 5px;
  box-sizing: border-box; }

.img_field .game_img_blank p {
  font-size: 18px; }

.game_edit_image {
  width: 200px;
  height: calc(200px * 0.765);
  background: #f8f8f8;
  border: 2px dashed #c8c8c0;
  border-radius: 5px;
  box-sizing: border-box; }
  .game_edit_image_icon {
    object-fit: cover; }
  .game_edit_image_intro {
    object-fit: contain; }

#game_edit_intro_image_area {
  display: flex;
  flex-wrap: wrap;
  width: 432px;
  box-sizing: border-box; }
  #game_edit_intro_image_area .game_edit_intro_image_area_element:not(:nth-child(2n)) {
    margin-right: 32px; }
  #game_edit_intro_image_area .game_edit_intro_image_area_element:not(:nth-last-child(-n+2)) {
    margin-bottom: 32px; }

#game_edit_del_game a:link {
  color: red; }
#game_edit_del_game a:visited {
  color: red; }

.game_edit_submit_area {
  position: relative;
  width: 100%; }
  .game_edit_submit_area .submit_inner {
    width: 109px;
    height: 47px; }
  .game_edit_submit_area button {
    left: calc(50% - 54.5px); }

/*# sourceMappingURL=games.css.map */
